
@{
    ViewBag.Title = "FindEmployee";
}

<h2>FindEmployee</h2>

<form method="post">
   
    <label>Enter employee id to find:</label>
    <input type="number" name="id" />
    <input type="submit" value="submit/click this button to search" />

</form>